[Unit]
Description="Update discord"
After=network.target

[Service]
User=root
Group=root
WorkingDirectory={{ playbook_dir }}
Environment="PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin"
ExecStart=/usr/bin/ansible-playbook -i {{ playbook_dir }}/inventory {{ playbook_dir }}/playbook.yml -e discord_user={{ discord_user }}
